* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./Assets/bg-curve.svg"), #fffaf2;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 102%;
  min-height: 100%;

  overflow-x: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Medium screens */
@media only screen and (min-width:768.01px) and (max-width: 996px){

  body{
    background-size: 130%;
  }
}

/* Small screens */
@media only screen and (max-width:768px){

  body{
    background-size: 130%;
  }
}

/* Very small screens */
@media only screen and (max-width:650px){

  body{
    background-size: 200%;
    overflow-x: hidden;
  }
}